.idea/
venv/
blacklight_env/
blacklightvenv/
blacklightenv_macair/
.mypy_cache/
.run/
*.egg-info/
*.egg
*.idea/
.obsidian/ 
.vscode/ 
.pytest_cache/
.coverage
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
*.pyo
